<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Прототип интернет-магазина</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <!-- Содержимое первого фрейма -->
            <div class="col-2 frame1 d-flex align-items-stretch flex-column">
                <div class="d-flex align-items-center">
                    <img src="/static/resources/sm2.jpg" alt="logo" class="img-fluid"
                        style="max-width: 32px; margin-right: 10px;">
                    <h2 style="align-self: center;"> Меню </h2>
                </div>
                <!-- Верхний разделитель -->
                <div class="divider-white"></div>
                <br>
                <!-- Кнопка Главная -->
                <button class="btn btn-primary btn-icon-left" onclick="window.location.href='home.html'"><i
                        class="fas fa-home"></i> Главная </button>
                <p></p>
                <!-- Кнопка Категории (неактивная) -->
                <button class="btn btn-secondary btn-icon-left"><i class="fas fa-list"></i> Категории </button>
                <p></p>
                <!-- Кнопка Каталог -->
                <button class="btn btn-dark btn-icon-left" onclick="window.location.href='catalog.html'"><i
                        class="fas fa-shopping-bag"></i> Каталог </button>
                <p></p>
                <!-- Кнопка Контакты -->
                <button class="btn btn-dark btn-icon-left" onclick="window.location.href='contacts.html'"><i
                        class="fas fa-address-book"></i> Контакты </button>
                <!-- Кнопка Пользователь с выпадающим списком" -->
                <div class="dropdown mt-auto d-flex align-items-stretch flex-column">
                    <div class="divider-white"></div>
                    <p></p>
                    <button class="btn btn-secondary btn-icon-left dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user"></i> Пользователь
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"> Профиль </a></li>
                        <li><a class="dropdown-item" href="#"> Выход </a></li>
                    </ul>
                </div>
                <p></p>
            </div>
            <!-- Содержимое второго фрейма -->
            <div class="col-10 frame2 d-flex align-items-center flex-column">
                <div class="row align-content-center">
                    <h2><br> Категория 1 </h2>
                </div>
                <br>
                <!-- Карточки товаров (Grid cards)-->
                <div class="container justify-content-center">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card text-center text-bg-light md-3" style="max-width: 18rem;">
                                <div class="card-header">Товар 1</div>
                                <div class="card-body d-flex align-items-stretch flex-column">
                                    <h5 class="card-title">$ 100</h5>
                                    <p class="card-text">10 users included, 2 Gb storage. Email support. Help center
                                        access.</p>
                                    <a href="#" class="btn btn-primary">Купить</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center text-bg-light md-3" style="max-width: 18rem;">
                                <div class="card-header">Товар 2</div>
                                <div class="card-body d-flex align-items-stretch flex-column">
                                    <h5 class="card-title">$ 100</h5>
                                    <p class="card-text">10 users included, 2 Gb storage. Email support. Help center
                                        access.</p>
                                    <a href="#" class="btn btn-primary">Купить</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center text-bg-light md-3" style="max-width: 18rem;">
                                <div class="card-header">Товар 3</div>
                                <div class="card-body d-flex align-items-stretch flex-column">
                                    <h5 class="card-title">$ 100</h5>
                                    <p class="card-text">10 users included, 2 Gb storage. Email support. Help center
                                        access.</p>
                                    <a href="#" class="btn btn-primary">Купить</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center text-bg-light md-3" style="max-width: 18rem;">
                                <div class="card-header">Товар 4</div>
                                <div class="card-body d-flex align-items-stretch flex-column">
                                    <h5 class="card-title">$ 100</h5>
                                    <p class="card-text">10 users included, 2 Gb storage. Email support. Help center
                                        access.</p>
                                    <a href="#" class="btn btn-primary">Купить</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center text-bg-light md-3" style="max-width: 18rem;">
                                <div class="card-header">Товар 5</div>
                                <div class="card-body d-flex align-items-stretch flex-column">
                                    <h5 class="card-title">$ 100</h5>
                                    <p class="card-text">10 users included, 2 Gb storage. Email support. Help center
                                        access.</p>
                                    <a href="#" class="btn btn-primary">Купить</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center text-bg-light md-3" style="max-width: 18rem;">
                                <div class="card-header">Товар 6</div>
                                <div class="card-body d-flex align-items-stretch flex-column">
                                    <h5 class="card-title">$ 100</h5>
                                    <p class="card-text">10 users included, 2 Gb storage. Email support. Help center
                                        access.</p>
                                    <a href="#" class="btn btn-primary">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>